In [1]:
import pandas as pd
import numpy as np
import os
from ast import literal_eval
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
df = pd.read_csv('Downloads//archive//movies_metadata.csv')

C:\Users\Nihar\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [4]:
df.fillna('', inplace=True)

In [5]:
columns_needed = ['genres', 'title', 'overview', 'tagline']
df_modified = df[columns_needed]
df_modified

,genres,title,overview,tagline
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Toy Story,"Led by Woody, Andy's toys live happily in his ...",
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Jumanji,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Grumpier Old Men,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...
4,"[{'id': 35, 'name': 'Comedy'}]",Father of the Bride Part II,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...
...,...,...,...,...
45461,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",Subdue,Rising and falling between a man and woman.,Rising and falling between a man and woman
45462,"[{'id': 18, 'name': 'Drama'}]",Century of Birthing,An artist struggles to finish his work while a...,
45463,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",Betrayal,"When one of her hits goes wrong, a professiona...",A deadly game of wits.
45464,[],Satan Triumphant,"In a small town live two brothers, one a minis...",
45465,[],Queerama,50 years after decriminalisation of homosexual...,

In [6]:
df_modified['genres'] = df_modified['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

C:\Users\Nihar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [206]:
df_modified['belongs_to_collection'][0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [7]:
df_modified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    45466 non-null  object
 1   title     45466 non-null  object
 2   overview  45466 non-null  object
 3   tagline   45466 non-null  object
dtypes: object(4)
memory usage: 1.4+ MB

In [8]:
def combine_genres(col):
    genres = ''
    for i in range(len(col)):
        genres = genres + ' ' + col[i]
    return genres

In [9]:
df_modified['combined_genres'] = df_modified['genres'].apply(combine_genres)

C:\Users\Nihar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
df_modified.drop('genres', axis=1, inplace=True)

C:\Users\Nihar\Anaconda3\lib\site-packages\pandas\core\frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [11]:
df_modified

,title,overview,tagline,combined_genres
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...",,Animation Comedy Family
1,Jumanji,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,Adventure Fantasy Family
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,Romance Comedy
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,Comedy Drama Romance
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,Comedy
...,...,...,...,...
45461,Subdue,Rising and falling between a man and woman.,Rising and falling between a man and woman,Drama Family
45462,Century of Birthing,An artist struggles to finish his work while a...,,Drama
45463,Betrayal,"When one of her hits goes wrong, a professiona...",A deadly game of wits.,Action Drama Thriller
45464,Satan Triumphant,"In a small town live two brothers, one a minis...",,
45465,Queerama,50 years after decriminalisation of homosexual...,,

In [12]:
df_final = df_modified.copy()

In [13]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            45466 non-null  object
 1   overview         45466 non-null  object
 2   tagline          45466 non-null  object
 3   combined_genres  45466 non-null  object
dtypes: object(4)
memory usage: 1.4+ MB

In [14]:
def combine_frames(row):
    comb=''
    comb = row['title'] + ' ' + row['overview'] + ' ' + row['tagline'] + ' ' + row['combined_genres']
    df_final['combined_data'] = comb

In [15]:
combine_frames(df_final)
#df_modified['combined_data'] = df_modified.apply(combine_frames)

In [16]:
df_final

,title,overview,tagline,combined_genres,combined_data
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...",,Animation Comedy Family,"Toy Story Led by Woody, Andy's toys live happi..."
1,Jumanji,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,Adventure Fantasy Family,Jumanji When siblings Judy and Peter discover ...
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,Romance Comedy,Grumpier Old Men A family wedding reignites th...
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,Comedy Drama Romance,"Waiting to Exhale Cheated on, mistreated and s..."
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,Comedy,Father of the Bride Part II Just when George B...
...,...,...,...,...,...
45461,Subdue,Rising and falling between a man and woman.,Rising and falling between a man and woman,Drama Family,Subdue Rising and falling between a man and wo...
45462,Century of Birthing,An artist struggles to finish his work while a...,,Drama,Century of Birthing An artist struggles to fin...
45463,Betrayal,"When one of her hits goes wrong, a professiona...",A deadly game of wits.,Action Drama Thriller,"Betrayal When one of her hits goes wrong, a pr..."
45464,Satan Triumphant,"In a small town live two brothers, one a minis...",,,Satan Triumphant In a small town live two brot...
45465,Queerama,50 years after decriminalisation of homosexual...,,,Queerama 50 years after decriminalisation of h...

In [17]:
df_part1 = df_final[:11366]
df_part1

,title,overview,tagline,combined_genres,combined_data
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...",,Animation Comedy Family,"Toy Story Led by Woody, Andy's toys live happi..."
1,Jumanji,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,Adventure Fantasy Family,Jumanji When siblings Judy and Peter discover ...
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,Romance Comedy,Grumpier Old Men A family wedding reignites th...
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,Comedy Drama Romance,"Waiting to Exhale Cheated on, mistreated and s..."
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,Comedy,Father of the Bride Part II Just when George B...
...,...,...,...,...,...
11361,Spies,The mastermind behind a ubiquitous spy operati...,,Action Drama Thriller,Spies The mastermind behind a ubiquitous spy o...
11362,A Guide To Recognizing Your Saints,"Dito Montiel, a successful author, receives a ...",Sometimes the only way to move forward is to g...,Crime Drama,A Guide To Recognizing Your Saints Dito Montie...
11363,Azumi 2: Death or Love,Young assassins Azumi and Nagara continue thei...,Love Or Duty... An Assassin Must Choose,Action,Azumi 2: Death or Love Young assassins Azumi a...
11364,13 Tzameti,"Sebastian, a young man, has decided to follow ...",,Action Thriller,"13 Tzameti Sebastian, a young man, has decided..."
11365,Saw III,Jigsaw has disappeared. Along with his new app...,Suffering? You Haven't Seen Anything Yet...,Horror Thriller Crime,Saw III Jigsaw has disappeared. Along with his...

In [18]:
df_part2 = df_final[11366:22732]
df_part2

,title,overview,tagline,combined_genres,combined_data
11366,Catch a Fire,The true story of anti-apartheid activists in ...,"The spark that ignites us, unites us.",Action Drama Thriller,Catch a Fire The true story of anti-apartheid ...
11367,Death of a President,A fictional investigative documentary looks ba...,,Documentary Drama Science Fiction,Death of a President A fictional investigative...
11368,Little Secrets,"Emily Lindstrom, 14, is an aspiring concert vi...",,Drama Family,"Little Secrets Emily Lindstrom, 14, is an aspi..."
11369,The Kaiser's Lackey,Diederich HeÃŸling is scared of everything and ...,,History Drama Comedy,The Kaiser's Lackey Diederich HeÃŸling is scare...
11370,Corto Maltese in Siberia,At the end of 1918 while civil war is raging o...,,Drama Animation History Adventure,Corto Maltese in Siberia At the end of 1918 wh...
...,...,...,...,...,...
22727,Crave,Aiden (Josh Lawson) craves a better life. A li...,His imagination is a dangerous place to be.,Drama Thriller,Crave Aiden (Josh Lawson) craves a better life...
22728,Betrayed,"Screen superstars Clark Gable (""Gone With The ...",M-G-M filmed the mystery of the year in Holland!,Drama Romance Thriller War,"Betrayed Screen superstars Clark Gable (""Gone ..."
22729,Between Midnight and Dawn,"Rocky and Dan, war buddies, are prowl car cops...",THE STORY OF PROWL CAR 13...BASED ON THE POLIC...,Crime Drama,"Between Midnight and Dawn Rocky and Dan, war b..."
22730,Nymphomaniac: Vol. II,The continuation of Joe's sexually dictated li...,Forget About Love,Drama Mystery,Nymphomaniac: Vol. II The continuation of Joe'...
22731,La luna,A young boy comes of age in the most peculiar ...,A young boy discovers his family's most unusua...,Animation Family,La luna A young boy comes of age in the most p...

In [19]:
df_part3 = df_final[22732:34098]
df_part3

,title,overview,tagline,combined_genres,combined_data
22732,A Place in the Sun,A Swedish family found murdered in her home on...,,Crime Drama Thriller,A Place in the Sun A Swedish family found murd...
22733,A Streetcar Named Desire,Blanche Dubois goes to visit her pregnant sist...,,,A Streetcar Named Desire Blanche Dubois goes t...
22734,A Streetcar Named Desire,Blanche Dubois goes to visit her pregnant sist...,,,A Streetcar Named Desire Blanche Dubois goes t...
22735,American Anthem,Steve is a talented gymnast who has given up c...,,Romance,American Anthem Steve is a talented gymnast wh...
22736,Between Us,A New York couple and their Midwestern friends...,Four Friends. Two Couples. One Night They Will...,Drama,Between Us A New York couple and their Midwest...
...,...,...,...,...,...
34093,Four Times That Night,John and Tina meet in a park one day. They imm...,,Comedy,Four Times That Night John and Tina meet in a ...
34094,The House of Exorcism,A total re-edit of Mario Bava's gothic classic...,,Horror,The House of Exorcism A total re-edit of Mario...
34095,Knives of the Avenger,A mysterious knife-throwing viking warrior pro...,,Action Adventure,Knives of the Avenger A mysterious knife-throw...
34096,Gunman Called Nebraska,A drifter helps a ranch couple fend off the ap...,,Western,Gunman Called Nebraska A drifter helps a ranch...
34097,The Road to Fort Alamo,"A lone rider comes across a dying soldier, the...",,Western,The Road to Fort Alamo A lone rider comes acro...

In [20]:
df_part4 = df_final[34098:45464]
df_part4

,title,overview,tagline,combined_genres,combined_data
34098,One Night at Dinner,A liberal-thinking author watches his wife as ...,,Drama,One Night at Dinner A liberal-thinking author ...
34099,Trumbo,The career of screenwriter Dalton Trumbo is ha...,Are you now or have you ever been...,Drama,Trumbo The career of screenwriter Dalton Trumb...
34100,Panic Button,A businessman comes up with a scheme to make m...,,Comedy,Panic Button A businessman comes up with a sch...
34101,Two Sons of Ringo,,,Comedy,Two Sons of Ringo Comedy
34102,The Moment to Kill,"Two famous gunmen, Lord and Bull are called to...",,Western,"The Moment to Kill Two famous gunmen, Lord and..."
...,...,...,...,...,...
45459,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,,Science Fiction,Caged Heat 3000 It's the year 3000 AD. The wor...
45460,Robin Hood,"Yet another version of the classic epic, with ...",,Drama Action Romance,Robin Hood Yet another version of the classic ...
45461,Subdue,Rising and falling between a man and woman.,Rising and falling between a man and woman,Drama Family,Subdue Rising and falling between a man and wo...
45462,Century of Birthing,An artist struggles to finish his work while a...,,Drama,Century of Birthing An artist struggles to fin...
45463,Betrayal,"When one of her hits goes wrong, a professiona...",A deadly game of wits.,Action Drama Thriller,"Betrayal When one of her hits goes wrong, a pr..."

In [21]:
cv = CountVectorizer()

count_matrix1 = cv.fit_transform(df_part1["combined_data"])
count_matrix2 = cv.fit_transform(df_part2["combined_data"])
count_matrix3 = cv.fit_transform(df_part3["combined_data"])
count_matrix4 = cv.fit_transform(df_part4["combined_data"])

The next Cell used tfid instead of count vectorizer

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(ngram_range=(1, 1), min_df=0.0001, stop_words='english')

count_matrix1 = tfidf.fit_transform(df_part1["combined_data"])
count_matrix2 = tfidf.fit_transform(df_part2["combined_data"])
count_matrix3 = tfidf.fit_transform(df_part3["combined_data"])
count_matrix4 = tfidf.fit_transform(df_part4["combined_data"])

In [22]:
cosine_sim1 = cosine_similarity(count_matrix1)
cosine_sim2 = cosine_similarity(count_matrix2)
cosine_sim3 = cosine_similarity(count_matrix3)
cosine_sim4 = cosine_similarity(count_matrix4)

In [23]:
combined = np.vstack([cosine_sim1, cosine_sim2, cosine_sim3, cosine_sim4])

In [24]:
def get_title_from_index(index):
    return df_final[df_final.index==index]['title'].values[0]
def get_index_from_title(title):
    return df_final[df_final.title==title].index[0]

In [46]:
movie_user_likes = "Saw III"

In [47]:
movie_index = get_index_from_title(movie_user_likes)
movie_index

11365

In [48]:
similar_movies = list(enumerate(combined[movie_index]))

In [49]:
sorted_similar_movies = sorted(similar_movies, key = lambda x:x[1], reverse = True)[1:]

In [50]:
i=0
print("Top 5 similar movies to "+movie_user_likes+" are:\n")
for element in sorted_similar_movies:
    print(get_title_from_index(element[0]))
    i=i+1
    if i>10:
        break

Top 5 similar movies to Saw III are:

Saw II
Curse of the Puppet Master
Retro Puppet Master
Puppet Master 5: The Final Chapter
Puppet Master II
The Vanishing
White Lightning
Puppet Master
Breakdown
The Detective
Watermelon Man

In [45]:
df_final[df_final.index==1773]

,title,overview,tagline,combined_genres,combined_data
1773,Godzilla,When a freighter is viciously attacked in the ...,Size does matter.,Science Fiction Action Thriller,Godzilla When a freighter is viciously attacke...

In [188]:
df_final[df_final.title=="Two Evil Eyes"]

,title,overview,tagline,combined_genres,combined_data
6259,Two Evil Eyes,Two horror segments based on Edgar Allan Poe s...,When I wake you... you'll be dead,Horror Thriller,Two Evil Eyes Two horror segments based on Edg...

In [52]:
np.save('Cosine_matrix.csv', combined)